html, body {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333;
  background-color: #fff;
  margin: 0;
}

.container {
  max-width: 400px;
  padding: 15px 15px 0 15px;
}

.draggable {
  margin-top: 15px;
  width: 120px;
  height: 120px;
  background: #cddc39;
  border-radius: 8px;
  cursor: url(../../packages/dnd/cursor/openhand.cur), move; /* Cursor for IE. */
  cursor: url(../../packages/dnd/cursor/openhand.cur) 7 5, move; /* Cursor for FF and Chrome (setting midpoint). */
}

.draggable p {
  text-align: center;
  padding-top: 30px;
  margin: 0;
  font-weight: bold;
}

.dnd-dragging {
  opacity: 0.5;
}

.dnd-dragging, .dnd-drag-occurring {
  cursor: url(../../packages/dnd/cursor/closedhand.cur), move; /* Cursor for IE. */
  cursor: url(../../packages/dnd/cursor/closedhand.cur) 7 5, move; /* Cursor for FF and Chrome (setting midpoint). */
}

